[Unit]
Description=catalog
After=syslog.target

[Service]
User=dian
ExecStart=/var/lib/catalogapp/catalogapp.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target